.teams {
    margin: 5%;
    margin-left: 10%;
    padding: 5px;
    border-spacing: 5px;
}

th {
    background: #999595;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    border-bottom: 3px solid #CCBBAE;
    font-family: monospace;
    font-size: 28px;
}


/*Center tablem text*/

tr:nth-child(2)>td:last-child,
tr:nth-child(2)>td:nth-child(2),
tr:nth-child(3)>td:last-child,
tr:nth-child(3)>td:nth-child(2),
tr:nth-child(4)>td:last-child,
tr:nth-child(4)>td:nth-child(2),
tr:nth-child(5)>td:last-child,
tr:nth-child(5)>td:nth-child(2),
tr:nth-child(6)>td:last-child,
tr:nth-child(6)>td:nth-child(2),
tr:nth-child(7)>td:last-child,
tr:nth-child(7)>td:nth-child(2),
tr:nth-child(8)>td:last-child,
tr:nth-child(8)>td:nth-child(2),
tr:nth-child(9)>td:last-child,
tr:nth-child(9)>td:nth-child(2),
tr:nth-child(10)>td:last-child,
tr:nth-child(10)>td:nth-child(2),
tr:nth-child(11)>td:last-child,
tr:nth-child(11)>td:nth-child(2) {
    text-align: center;
}

td {
    background: #FFFBEA;
    padding: 10px;
    font-family: monospace;
    opacity: .5;
}

td:hover {
    opacity: 1;
}

.right>p {
    display: block!important;
    margin-left: 28%;
    font-family: monospace;
}

h2 {
    text-align: center;
    display: bloc !important;
    font-family: monospace;
    font-size: 40px;
    width: 40%;
    margin-left: 30%;
}